[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "lib/urmem"]
	path = lib/urmem
	url = https://github.com/katursis/urmem
[submodule "lib/robin-hood-hashing"]
	path = lib/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing